html {
    position: absolute;
}

#city {
    position: relative;
    display: grid;
    z-index: 0;
    width: 100vw;
}

#guy {
    position: relative;
    width: 3em;
    top: -43em;
    left: 1em;
}

#red-car {
    position: relative;
    width: 9.5em;
    top: -41.4em;
    left: -4em;
    z-index: 0;
}